#btn_signlog{
    background-color: #F6A762;
    color: #000000;
}
#orange{
     color: #F6A762;
     position: relative;
     right: 2.5%;
     
}
#auth_btn{
    background-color: #bee0d57d;
 }
 #bottom_left{
    position: relative;
    left: 30%;
}