<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <div class="form-outline mb-4">
          <input matInput placeholder="Email address" formControlName="email" />
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="btn btn-primary btn-block mb-4"
          >
            Renouveler mon mot de passe
          </button>
        </div>
      </form>
    </div>
    <button
            mat-raised-button
            color="primary"
            class="btn btn-primary btn-block mb-4"
            onclick="submit()"
          >
            R'envoyer un mail
          </button>
    <div class="redirectToLogin">
      <span
        >Retour ?
        <span class="redirect" routerLink="/sign-in">Connexion</span></span
      >
    </div>
  </div>
</div>
