<ngx-spinner size="medium" color="#fff" [fullScreen]="true" type="ball-scale-mulitple"><p style="font-size : 20px; color: white">Chargement....</p></ngx-spinner>
<div *ngIf="article !== null ">
  <div class="card-image">
  <img
    src= "{{ article!.imageUrl }}"
    class="card-img-top"
    alt= ""
  />
  </div>

  <div class="container-body">
    <div class="card-body" >
      <a id="retour" [routerLink]="['/blog']">← Retour</a>
        <p class="card-title"><br/>{{ article!.title }}</p>
        <p class="card-text" style="font-family: Acumin Variable Concept; font-size: 19px"  [innerHTML]="article!.body">
        </p>
    </div>

  </div>

  <div>
    <h3 style="text-align: center; padding: 3%">Espace Commentaire</h3>
    <div style="text-align:center">
      <button type="button" class="btn" style="background-color: #bde0d5; width: max-content; color: white" (click)="addComment()">Ajouter un commentaire</button>
      <div *ngIf="article.comment!.length > 0 else ElseBlock">
      <div class="comments-container">
          <div class="comments" *ngFor="let comment of article.comment!">
            <p style="opacity: 60%; font-size: 14px">{{ comment.author }}</p>
            <p style="font-size: 19px">{{ comment.body }}</p>
            <i
            *ngIf="userData?.uid == comment.userUid"
            class="bi bi-trash"
            id="trash"
            style="cursor: pointer;"
            (click)="removeComment(comment)"
          ></i>
          </div>
        </div>
      </div>
      <ng-template #ElseBlock>
        <p style="text-align: center; font-size: 20px; padding: 5%;">Aucun commentaire pour le moment !</p>
      </ng-template>
    </div>
  </div>
</div>
