<!-- <div>
    <img src={{article.imageUrl}} alt="">
    <h1>{{article.title}}</h1>
    <p>{{article.body}}</p>
</div> -->

<div class="card">
  <div class="card-image">
  <img
    src="{{ article.imageUrl }}"
    class="card-img-top"
    alt= ""
  />
  </div>

  <div class="container-body">
    <div class="card-body" >
      <a id="retour" [routerLink]="['/blog']">← Retour</a>
        <p class="card-title"><br/>{{ article.title }}</p>
        <p class="card-text" style="font-family: Acumin Variable Concept; font-size: 19px"  [innerHTML]="article.body">
        </p>
    </div>
  </div>
</div>
