<div class="card">
  <div class="card-image">
  <img
    src="{{ article.imageUrl }}"
    class="card-img-top"
    alt= ""
  />
  </div>

  <div class="container-body">
    <div class="card-body" >
      <a id="retour" [routerLink]="['/blog']">← Retour</a>
        <p class="card-title"><br/>{{ article.title }}</p>
        <p class="card-text" style="font-family: Acumin Variable Concept; font-size: 19px"  [innerHTML]="article.body">
        </p>
    </div>

  </div>
  <h3>Espace Commentaire</h3>
  <button type="button" class="btn" style="background-color: #bde0d5" (click)="addComment()">Ajouter un commentaire</button>
  <div *ngFor="let comment of commentTable  ">
    <h4>{{comment.body}}</h4>
  </div>
</div>
