div{
    padding: 30px 10%;
    font-family: "Acumin Variable Concept", sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    color: #F6A762;
}
h2{
    color: #F6A762;
    display: flex;
    justify-content: center;
}