#orange{
    color: #F6A762;
}
#btn_psswrd{
    background-color: #F6A762;
    color: #FFFF;
    }
#corners {
    border-radius: 25px;
    border: 2px solid #BEE0D5;
    padding: 0px;
    width: 800x;
    }