
<div  class="container" style="display: flex; justify-content: center; padding: 3%">
  <div id="corners" class="card" style="display: flex; justify-content: center;text-align: center; width: 90%;">
    <article  class="card-body">
      <h2 style="text-align: center; padding: 3%;">Réinitialisation du mot de passe</h2>
      <p class="text-center ">
        Entrez votre adresse mail pour réinitialiser votre mot de passe
      <form style="padding: 1%;" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <div class="form-group" style="margin: 2%;">
          <input  class="text-center form-control" matInput formControlName="email" placeholder="Email" type="email">
          <button id="btn_psswrd" type="submit"  class="btn" style="margin: 2%; width: 70%;">
            <p *ngIf="!emailSubmitted">Changer mon mot de passe</p>
            <p *ngIf="emailSubmitted">Renvoyer l'email</p>
          </button>
        </div>
      </form>
    </article>
    <div class="redirectToLogin">
      <span>
        <a id="orange" class="redirect" class="nav-link active" routerLink="/connexion">Connexion</a>
      </span>
    </div>
  </div>
</div>


<!-- <div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <div class="form-outline mb-4">
          <input matInput placeholder="Email address" formControlName="email" />
        </div>
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="btn btn-primary btn-block mb-4"
          >
          <p *ngIf="!emailSubmitted">Changer mon mot de passe</p>
          <p *ngIf="emailSubmitted">R'envoyer l'email</p>
          </button>
        </div>
      </form>
    </div>
    <div class="redirectToLogin">
      <span
        >Retour ?
        <span class="redirect" routerLink="/login">Connexion</span></span
      >
    </div>
  </div>
</div> -->