@import "../../../../styles";

.profile-img-container {
  height: 120px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.581);
  border-radius: 100px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  object-fit: cover;
}

.profile-text {
  color: rgb(0, 0, 0);
  font-weight: bold;
  opacity: 0.7;
}

.profileTextDark {
  color: black;
}

.profileImgDark {
  background: whitesmoke;
}


