@import "../../../../styles";

.profile-img-container {
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  object-fit: cover;
}

.profile-text {
  color: whitesmoke;
  font-weight: bold;
  opacity: 0.5;
}

.profileTextDark {
  color: black;
}

.profileImgDark {
  background: whitesmoke;
}


