@media (max-width: 600px) {
    #contact-title{
      margin-bottom: 0 !important;
    }
  }

#submitButton {
  background-color: #FFFBED;
  text-align: center;
  color: black;
}

#submitButton:hover {
  background-color: #F6A864
}

// .d-grid{
//   display: flex;
//   justify-content: flex-end;
// }

.rounded {
  border-radius: 3px 3px 3px 3x;
  width: 500px;
  height: min-content;
}

i {
  font-size: 40px; 
  color: #FFFBED;
  transition: all 0.2s;
}

i:hover {
  color: #F6A864;
  transition: all 0.2s;
}