div{
    padding: 30px 10%;
    font-family: "Acumin Variable Concept", sans-serif;
}
#h1{
    display: flex;
    justify-content: center;
    color: #F6A762;
}
#h2{
    font-size: 25px;
    display: flex;
    justify-content: center;
}
#article{
    font-size: 30px;
    color:#F6A762;
    display: flex;
}