div{
    padding: 30px 10%;
    font-family: "Acumin Variable Concept", sans-serif;
}
#h1{
    display: flex;
    justify-content: center;
    color: rgb(134, 134, 250);
}
#h2{
    display: flex;
    justify-content: center;
}
#article{
    color:rgb(134, 134, 250);
    display: flex;
}