<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="pills-login"
    role="tabpanel"
    aria-labelledby="tab-login"
  >
    <form  [formGroup]="signUpForm" (ngSubmit)="submit()">
      <div class="text-center mb-3">
        <p>S'enregistrer avec:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1" (click)="googleAuth()">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
      <p class="text-center">ou:</p>

  
       <div class="form-outline mb-4">
          <input matInput placeholder="Name" formControlName="name" class="form-control" />
         
       </div>
     
        <div class="form-outline mb-4">
          <input matInput placeholder="Email address" formControlName="email" class="form-control"  #userEmail
          required />
         
        </div>
     
       <div class="form-outline mb-4">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            class="form-control" 
            #userPwd
            required
          />
       
       </div>
      
   
       <div class="form-outline mb-4">
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            class="form-control" 
          />
         
       </div>
  
 
      <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary" >
          S'enregistrer!
        </button>
      </div>
    </form>
  </div>
</div>
