<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="pills-login"
    role="tabpanel"
    aria-labelledby="tab-login"
  >
    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
      <div class="text-center mb-3">
        <p>S'enregistrer avec:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
      <p class="text-center">ou:</p>

  
       <div class="form-outline mb-4">
          <input matInput placeholder="Name" formControlName="name" class="form-control" />
          <mat-error *ngIf="name?.errors?.['required']">
            Le pseudo est requis
          </mat-error>
       </div>
     
        <div class="form-outline mb-4">
          <input matInput placeholder="Email address" formControlName="email" class="form-control" />
          <mat-error *ngIf="email?.errors?.['required']">
            Une adresse mail est obligatoire
          </mat-error>
          <mat-error *ngIf="email?.errors?.['email']">
            Une adresse mail valide est obligatoire
          </mat-error>
        </div>
     
       <div class="form-outline mb-4">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            class="form-control" 
          />
          <mat-error *ngIf="password?.errors?.['required']">
            Le mot de passe est obligatoire
          </mat-error>
       </div>
      
   
       <div class="form-outline mb-4">
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            class="form-control" 
          />
          <mat-error *ngIf="confirmPassword?.errors?.['required']">
            Confirmer votre mot de passe
          </mat-error>
       </div>
  
      <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
        Les mots de passe ne match pas 
      </mat-error>
      <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary">
          S'enregistrer!
        </button>
      </div>
    </form>
  </div>
</div>
