#corners {
    border-radius: 25px;
    border: 2px solid #BEE0D5;
    padding: 0px;
    width: 800x;
    padding-bottom: 20px;
    }

.displayDate{
    color:#BEE0D5;
}
#auth{
    opacity: 70%;
}

#auth_btn{
    background-color: #BEE0D5;
    width: 100%;
    height: 100%;
}
#auth_btn2{
    background-color: #c8ece1;
}

#btn_signlog{
background-color: #F6A762;
color: #FFFFFF;
}
.btn_cancel {
    margin: 10px;
    background-color: #f6a762;
    color: #000000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  .btn_confirm {
    background-color: #f6a762;
    color: #000000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
  .btn_confirm:hover {
    background-color: #fffbed;
  }
  
  .btn_cancel:hover {
    background-color: #fffbed;
  }
  .text-field{
      border-radius: 4px;
      border: 1px solid #f94747;
      background-color: rgb(181, 41, 41);
  }
  .width-100{
      width: 100%;
      // background-color: #bee0d57d;
  }
  
  .link{
      color: #F6A762;
      text-decoration: none;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
      border-radius: 10px !important;
      background-color: #bee0d57d !important;
      color: #0000007d;
      text-underline-offset: none !important;
  }
  .calendar{
    height: 400px;
    background-color: #fff;
  }
  .grid{
    display: grid;
  grid-template-columns: repeat(6, 8fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(5px, 30px);
  }
  .week{
 padding: 40px;
display: flex;
flex-direction: row-reverse;
  }
