<div class="position-relative overflow-hidden" style='background-image: url("../../../assets/images/fond.png"); background-size: cover;'>
  <div class="card mx-auto" style="margin: 5%; padding: 3%; background-color:rgba(255, 255, 255, 0.6); width:65%;">
    <h2 class="text-center" style="color:grey;"><strong>Page en cours de création...</strong></h2>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>