<div class="container" style="display: flex; justify-content: center;flex-direction: column; padding-top: 3%; width: 100%; background-color: aqua;">

<div class="card" style="display: flex; justify-content: center;text-align: center; width: 100%;">
  <div class="week">Cette semaine</div>
<div class="container" class="calendar" style="display: flex; justify-content: center">
  <div class="grid" >
<div></div>
<div>Lundi</div>
<div>Mardi</div>
<div>Mercredi</div>
<div>Jeudi</div>
<div>Vendredi</div>
<div>9h</div>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<div>10h</div>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<div>11h</div>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<div>12h</div>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<div>14h</div>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<div>15h</div>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<div>16h</div>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<div>17h</div>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
<app-hour></app-hour>
</div>

</div>
</div>

  <div id="corners" class="card" style="display: flex; justify-content: center;text-align: center; width: 90%;margin-top: 50px;">
  <div class="displayTable">
      <div class="displayTableCell">
        <div class="authBlock">
          <article class="card-body">
          <h3 style="padding:2%">Réservez votre créneau</h3>
          <div class="formGroup" >
            <p class="text-center">"Username"</p>
            <p class="text-center" class="displayDate">"example date = Lundi 6 mars 15h"</p>
          </div>
          <form style="padding: 1%">
            <mat-form-field class="form-group width-100" appearance="fill" >
              <mat-label> Le motif de votre réservation </mat-label>
              <mat-icon matPrefix>check</mat-icon>
              <input matInput formControlName="name" type="text" />
            </mat-form-field>
            <mat-form-field class="form-group width-100" appearance="fill">
              <mat-label> Numéro de téléphone </mat-label>
              <mat-icon matPrefix>phone</mat-icon>
              <input matInput formControlName="phone" type="tel" />
            </mat-form-field>
            <div class="form-group" style="padding: 3%">
              <button class="btn_confirm btn" type="submit" style="width: 15%">
                Valider
              </button>
              <button class="btn_cancel btn" type="submit" style="width: 15%" >
                Annuler
              </button>
            </div>
          </form>
         
        </article>
        </div>
      </div>
    </div>
  </div>
</div>