<div class="submit-form" style="padding-top: 2%">
    <div id="form" *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="article.title"
          name="title"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          required
          [(ngModel)]="article.body"
          name="description"
        >description</textarea>
      </div><br>
  
      <button (click)="createArticle()" class="btn btn-success">Soumettre</button>
    </div>
  </div>
  
