<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createArticle">Créer un article <i class="bi bi-file-plus"></i></button>

<div class="modal fade" id="createArticle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="currentFileUpload" class="progress mt-2">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: percentage + '%' }"
        >
          {{ percentage }}%
        </div>
      </div>
      <div class="modal-body">
        <img [src]="preview" class="preview" style="height: 50px;">
        <input type="file" accept="image/*" (change)="selectFile($event)" />
        <form [formGroup]="articleForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Titre:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="title">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Body:</label>
            <textarea class="form-control" id="message-text" formControlName="body"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" [disabled]="!articleForm.valid" (click)="addArticle()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>


<!-- <form (ngSubmit)="createArticle()" [formGroup]="myForm">
  <div class="col-md-4 mt-5">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div>
          <input
            type="file"
            class="text-nowrap text-truncate file"
            (change)="selectFile($event)"
          />
        </div>

        <div class="progress mt-2">
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            attr.aria-valuenow="{{ percentage }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: percentage + '%' }"
          >
            {{ percentage }}%
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-form-field class="title">
    <input matInput [formControl]="myForm.controls.title" type="text" />
  </mat-form-field>

  <div class="mat-form-field-wrapper">
    <editor
      apiKey="xhe4unt6ydvae52gg9uh4wkyjje2d7e34hrmkhtqtbd5gf51"
      [formControl]="myForm.controls.body"
      class="mat-elevation-z1"
      (onInit)="handleEditorInit($event)"
      [init]="{
        icons: 'material',
        skin: 'borderless',
        plugins: 'wordcount emoticons lists visualblocks wordcount checklist tinymcespellchecker tableofcontents footnotes mergetags autocorrect',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        menubar: false,
        min_height: 150
      }"
    ></editor>
  </div>
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>

<!-- <div class="submit-form" style="padding-top: 2%">
  <div id="form">
    <div class="col-md-4 mt-5">
      <div class="card border-0 shadow">
        <div class="card-body">
          
          <div>
            <input
              type="file"
              class="text-nowrap text-truncate file"
              (change)="selectFile($event)"
            />
          </div>

          <div class="progress mt-2">
            <div
              class="progress-bar progress-bar-info"
              role="progressbar"
              attr.aria-valuenow="{{ percentage }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: percentage + '%' }"
            >
              {{ percentage }}%
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="title">Titre</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="article.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        required
        [(ngModel)]="article.body"
        name="description"
      >
description</textarea
      >
    </div>
    <br />

    <button (click)="createArticle()" class="btn btn-success">Soumettre</button>
  </div>
</div> --> -->
