<div class="row justify-content-center">
    <h2 class="fw-bold mb-5 p-5" style="text-align: center;">Présentation de l'équipe</h2>
  </div>
<div class="row" id="test11">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 centre membre-anim">
        <img class="imageSponsor" src="">
        <p>Suzy PATRAS</p>
        <p class="poste">Cheffe de projet</p>
      </div>
      <div class="col-12 col-md-12 col-lg-3 centre membre-anim">
        <img class="imageSponsor" src="">
        <p>Morgane GARCIA</p>
        <p class="poste">Co-cheffe de projet</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 centre membre-anim">
        <img class="imageSponsor" src="">
        <p>Célian FRASCA</p>
        <p class="poste">Développeur Web</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 centre membre-anim">
        <img class="imageSponsor" src="">
        <p>Pauline BLANCHARD</p>
        <p class="poste">Web designeuse</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 centre membre-anim">
        <img class="imageSponsor" src="">
        <p>Anthony RIBEIRO</p>
        <p class="poste">Développeur Web</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 centre membre-anim">
        <img class="imageSponsor" src="">
        <p>Isaure FAILLER</p>
        <p class="poste">Graphiste</p>
      </div>
      <div class="col-12 col-md-12 col-lg-3 centre membre-anim">
        <img class="imageSponsor" src="">
        <p>Quentin JUVET</p>
        <p class="poste">Développeur Web</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 centre membre-anim">
        <img class="imageSponsor" src="">
        <p>Coralie DUMONT</p>
        <p class="poste">Chargée de communication</p>
      </div>
  </div>