<div
  class="container"
  style="display: flex; justify-content: center; padding: 3%"
>
  <div
    style="
      display: flex;
      justify-content: center;
      text-align: center;
      width: 90%;
    "
  >
    <article class="card-body">
      <h2 id="titre_auth" style="text-align: center; padding: 3%">
        Création de Compte
      </h2>
      <div style="text-align: center"></div>
      <div class="justify-content-center">
        <img
          id="auth"
          src="assets/images/auth/auth.jpg"
          class="img-fluid rounded"
          alt="Sample image"
        />
      </div>
      <p class="divider-text">
        <br />
        Connexion avec :
        <button class="btn btn-block btn-outline-dark" style="margin: 2%;" (click)="authService.GoogleAuth()"> <i class="fab fa-google"></i></button>
        <button class="btn btn-block btn-outline-primary" style="margin: 0%;"  (click)="authService.FacebookAuth()"> <i class="fab fa-facebook" ></i></button>
        <br />
        <span>ou</span>
      </p>
      <form style="padding: 1%" [formGroup]="signUpForm" (ngSubmit)="submit()">
        <mat-form-field class="form-group width-100" appearance="fill" >
          <mat-label> Pseudo </mat-label>
          <mat-icon matPrefix>people</mat-icon>
          <input matInput formControlName="name" type="text" />
        </mat-form-field>
        <mat-form-field class="form-group width-100" appearance="fill">
          <mat-label> Email </mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>
        <mat-form-field class="form-group width-100" appearance="fill">
          <mat-label> Mot de passe </mat-label>
          <mat-icon matPrefix>password</mat-icon>
          <input matInput formControlName="passwword" type="password"  appearance="none"/>
        </mat-form-field>
        <mat-form-field class="form-group width-100" appearance="fill">
          <mat-label>Confirmation mot de passe </mat-label>
          <mat-icon matPrefix>password</mat-icon>
          <input matInput formControlName="confirmPasswword" type="password" />
        </mat-form-field>
        <div class="form-group" style="padding: 3%">
          <button class="btn_signlog btn" type="submit" style="width: 15%">
            Inscription
          </button>
        </div>
        <p class="text-center login-compo">
          Déjà un compte ? <a class="link" routerLink="/connexion">Connexion</a>
        </p>
      </form>
    </article>
  </div>
</div>
