
<div class="container" style="display: flex; justify-content: center; padding: 3%">
  <div  style="display: flex; justify-content: center;text-align: center; width: 90%;">
    
  <article class="card-body">
    <h2 id="titre_auth" style="text-align: center; padding: 3%;">Création de Compte</h2>
    <div style="text-align: center;">
      
    </div>
    <div class="justify-content-center">
      <img id="auth"
      src="assets/images/auth/auth.jpg"
      class="img-fluid rounded"
      alt="Sample image"
      />
  </div>
    <p class="divider-text">
      <br>
      <span>ou</span>
    </p>
    <form style="padding: 1%;" [formGroup]="signUpForm" (ngSubmit)="submit()">
    <div  class="form-group input-group" style="padding-bottom: 2%;">
      <div  class="input-group-prepend">
          <span id="auth_btn" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="input-group-text"> <i class="fa fa-user"></i> </span>
          
        </div>
        <input id="auth_btn2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="form-control" formControlName="name" placeholder="Pseudo" type="text">
      </div>
      <div class="form-group input-group" style="padding-bottom: 2%;">
        <div class="input-group-prepend">
          <span id="auth_btn" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
          <input id="auth_btn2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;" type="email" class="form-control" placeholder="Adresse mail" formControlName="email" #userEmail
          required>
      </div>
      <div class="form-group input-group" style="padding-bottom: 2%;">
        <div class="input-group-prepend">
          <span id="auth_btn" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
      <input id="auth_btn2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="form-control" formControlName="password"
          #userPwd
          required placeholder="Mot de passe" type="password">
        </div>
      <div class="form-group input-group" style="padding-bottom: 2%;">
        <div class="input-group-prepend">
          <span  id="auth_btn" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input id="auth_btn2" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;" class="form-control" formControlName="confirmPassword" placeholder="Confirmation du mot de passe" type="password">
      </div>
      <div class="form-group" style="padding: 3%;">
        <button id="btn_signlog" type="submit" class="btn" style="width:15%"> Inscription  </button>
      </div>
      <p  class="text-center">Déjà un compte ? <a id="orange" routerLink="/connexion">Connexion</a> </p>
  </form>
</article>
 </div>
</div>

<!-- <div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="pills-login"
    role="tabpanel"
    aria-labelledby="tab-login"
  >
    <form  [formGroup]="signUpForm" (ngSubmit)="submit()">
      <div class="text-center mb-3">
        <p>S'enregistrer avec:</p>
        <button type="button" class="btn btn-link btn-floating mx-1" (click)="facebookAuth()">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1" (click)="googleAuth()">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
      <p class="text-center">ou:</p>


       <div class="form-outline mb-4">
          <input matInput placeholder="Name" formControlName="name" class="form-control" />

       </div>

        <div class="form-outline mb-4">
          <input matInput placeholder="Email address" formControlName="email" class="form-control"  #userEmail
          required />

        </div>

       <div class="form-outline mb-4">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            class="form-control"
            #userPwd
            required
          />

       </div>


       <div class="form-outline mb-4">
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            class="form-control"
          />

       </div>


      <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary" >
          S'enregistrer!
        </button>
      </div>
    </form>
  </div>
</div> -->
