#auth{
    opacity: 70%;
}

#auth_btn{
    background-color: #BEE0D5;
    width: 100%;
    height: 100%;
}
#auth_btn2{
    background-color: #c8ece1;
}

#btn_signlog{
background-color: #F6A762;
color: #FFFFFF;
}
#orange{
    color: #F6A762;
}
