<div class="card">
  <img
    src="{{ article.imageUrl }}"
    class="card-img-top"
    alt=""
    style="cursor: pointer"
    [routerLink]="['/detail', article.id]"
  />

  <div class="card-body">
    <p class="card-title" [routerLink]="['/detail', article.id]" >{{ article.title }}</p>
    <p
      class="card-text"
      style="
        font-family: Acumin Variable Concept;
        font-size: 19px;
        white-space: normal;
      "
    >{{ article.previewText }}</p>

    <a id="lire-suite" [routerLink]="['/detail', article.id]">
      → Lire la suite</a
    >
    <div *ngIf="user$ | async as user">
      <i
        *ngIf="user.roles?.admin"
        class="bi bi-pencil-square"
        id="edit"
        (click)="editArticleDialog(article)"
      ></i>

      <i
        *ngIf="user.roles?.admin"
        class="bi bi-trash"
        id="trash"
        (click)="deleteArticle(article)"
      ></i>
    </div>
  </div>
</div>
