.card-text {
  /* methode 1 */
  /* text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden; */

  /* methode 2 */
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space:normal;
}

.card.no-shrink {
  flex-shrink: 0;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  width: 45vw;
  height: 27vw;
  min-width: 45vh;
  min-height: 20vh;
  text-overflow: ellipsis;
  overflow-x: hidden;
  transition: all 0.5s;
}

.card:hover{
  width: 46vw;
  transition: all 0.5s;
}

.card-img-top {
  width: 100%;
  height: 13vw;
  object-fit: cover;
  border-radius: 8px;
}

#lire-suite{
  display:flex;
  justify-content: right;
  text-decoration: none;
   color:#F6A762;
   transition: all 0.2s;
   font-weight: bold;
}

#lire-suite:hover{
  color:#be824c;
  transition: all 0.2s;
}

.card-title {
  font-family: Noteworthy;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

#edit{
  color: orange; font-size: 30px; padding: 2%; cursor: pointer
}

#edit:hover {
  color: rgb(197, 128, 0);
}

#trash {
  color: red; font-size: 30px; cursor: pointer
}

#trash:hover {
  color: rgb(206, 1, 1);
}