.card-text {
    /* methode 1 */
   /* text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden; */
     
    /* methode 2 */
   -webkit-line-clamp: 6;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }