<div class="card">
  <img [routerLink]="['/detail', article.id]"
    src="{{ article.imageUrl }}"
    class="card-img-top"
    alt= ""
    style="cursor: pointer;"
  />

  <div class="card-body"  >
    <p  class="card-title" [routerLink]="['/detail', article.id]">{{ article.title }}</p>
    <p class="card-text" style="font-family: Acumin Variable Concept; font-size: 19px; white-space: pre-wrap" [innerHTML]= article.body >

    </p>

    <a [routerLink]="['/detail', article.id]" id="lire-suite"> → Lire la suite</a>
    <div *ngIf="user$ | async as user">
      <i *ngIf = user.roles?.admin   class="bi bi-pencil-square" (click)="editArticleDialog(article)"></i>

      <i *ngIf = user.roles?.admin class="bi bi-trash" (click)="deleteArticle(article)"></i>
    </div>
  </div>
</div>
