.app {
    background-color: #FFFBED;
}
html { scroll-behavior: smooth; }

#backtop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #F6A762; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 40px; /* Rounded corners */ /* Increase font size */
  font-weight: bolder;
  width: 60px;
  height: 60px;
  transition: all 0.2s;
}

@media (max-width: 600px) {
 #backtop {
  width: 40px;
  height: 40px;
  padding: 0;
 }
 .arrowImg {
  height: 20px;
  width: 16px
 }
}

#backtop:hover {
  background-color: rgb(226, 226, 226);
  transition: all 0.2s; /* Add a dark-grey background on hover */
}

