<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="toTop.js"></script>
<app-nav-bar></app-nav-bar>
<div class="app">
  <script async src="https://cse.google.com/cse.js?cx=c0ee71d49417140cd">
  </script>
  <div class="gcse-search"></div>
  <router-outlet></router-outlet>
  <button (click)="topFunction()" id="backtop" title="Go to top"><img class="arrowImg" src="../assets/images/fleche.png" height="30" width="25"></button>
</div>
<app-footer></app-footer>
