<div class="d-flex justify-content-center p-5">
  <h2>Besoin de précisions ?</h2>
</div>

<div class="d-flex justify-content-start p-5">
  <h4>Questions fréquentes...</h4>
</div>
<div class="grid p-5">
  <div class="card" >
    <p class="card-title" style="font-family: Noteworthy; font-size: 24px; font-weight: bold;">Question 1</p>
    <p class="card-text" style="font-family: Acumin Variable Concept; font-size: 19px; white-space: pre-wrap">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="d-flex justify-content-end">
      <a [routerLink]="" class="" id="button">En savoir plus</a>
    </div>
  </div>
  <div class="card" >
    <p class="card-title" style="font-family: Noteworthy; font-size: 24px; font-weight: bold;">Question 2</p>
    <p class="card-text" style="font-family: Acumin Variable Concept; font-size: 19px; white-space: pre-wrap">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="d-flex justify-content-end">
      <a [routerLink]="" class="" id="button">En savoir plus</a>
    </div>
  </div>
  <div class="card" >
    <p class="card-title" style="font-family: Noteworthy; font-size: 24px; font-weight: bold;">Question 3</p>
    <p class="card-text" style="font-family: Acumin Variable Concept; font-size: 19px; white-space: pre-wrap">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="d-flex justify-content-end">
      <a [routerLink]="" class="" id="button">En savoir plus</a>
    </div>
  </div>

  <div class="card" >
    <p class="card-title" style="font-family: Noteworthy; font-size: 24px; font-weight: bold;">Question 4</p>
    <p class="card-text" style="font-family: Acumin Variable Concept; font-size: 19px; white-space: pre-wrap">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    </p>
    <div class="d-flex justify-content-end">
      <a [routerLink]="" class="" id="button">En savoir plus</a>
    </div>
  </div>
</div>
<div class="" id="div-other">
  <span style="font-weight: bold">D'autres questions ? <a id="other-button">Cliquez ici</a></span>
</div>
