#eee {
  color: rgb(0, 0, 0);
}
app-user-profil-img {
  height: 10rem;
  justify-content: center;
  margin: 2%;
}
.img-border {
  height: 10rem;
  width: 10rem;
  border: 0.2rem solid white;
  border-radius: 50%;
}

#mail {
  text-decoration:none; color:white;
  transition: all 0.1s;
}

#mail:hover{
  color: rgb(240, 240, 240);
  transition: all 0.1s
}