
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <h2 class="text-center" style="font-family: Noteworthy; font-weight:bold; margin-bottom: 6%;">Profil</h2>
      <div class="col col-lg-9 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem; border-color: #BDE0D5;">
          <div class="row g-0">
            <div
              class="col-md-4 text-center text-white pt-4"
              style="
                border-radius: 0.5rem;
                background-color: #f6a762a9;
              "
            >
              <app-user-profil-img
                marginTop="10%"
                fontSize="2rem"
                fxLayoutAlign="center center"
                [userData]="user$ | async"
              ></app-user-profil-img>
              <div class="row" *ngIf="authService.userData as user">
                <h5 *ngIf="!user.emailVerified" style="color: black;"><a id="mail"routerLink="/verify-email-address">Veuillez valider votre adresse mail</a></h5>
              </div>
              <h5 style="color: black;">  {{ (user$ | async)?.firstName }}   {{ (user$ | async)?.lastName }}</h5>
              <p style="color: black;">  {{ (user$ | async)?.displayName }}</p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <p>Informations</p>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-8 mb-3">
                    <p>Email</p>
                    <p [ngClass]= "(user$ | async)?.auth == true ? 'text' : 'text-muted' " >  {{ (user$ | async)?.email }}</p>
                  </div>
                </div>
                <p>Rôles</p>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6 *ngIf="(user$ | async)?.roles?.admin">Administrateur</h6>
                    <h6 *ngIf="(user$ | async)?.roles?.subscriber">Utilisateur</h6>
                  </div>
                </div>
                  <div style="text-align: end; padding-right: 30px;">
                    <button class="btn" id="edit-button" (click)="editUserDialog()">
                      Editer le profil
                    </button>
                    <button class="btn" id="logout-button" (click)="deconnexion()">
                      Se déconnecter
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

