html{
    overflow-x: hidden;
}

body {
    background-color: #FFFBED;
}

@font-face {
    font-family: 'Acumin-Variable-Concept';
    src: url('./assets/font/Acumin Variable Concept.ttf');
}

@font-face {
    font-family: 'Noteworthy';
    src: url('./assets/font/FontsFree-Net-Noteworthy-Bold.ttf');
}

html, body { height: 100%; }
// * {
//     font-family: 'Acumin-Variable-Concept', 'Noteworthy' !important; 
// }
