<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Merci de vous êtres enregistré</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Nous avons envoyé un email de vérification à cette adresse <strong>{{user.email}}</strong>.</p>
          <p class="text-center">SVP regarde ton email pelo et click sur le liens il est top 👍.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Renvoyer un email
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Retour<span class="redirect" routerLink="/login">Connexion</span></span>
      </div>
    </div>
  </div>