<ngx-spinner size="medium" color="#fff" [fullScreen]="true" type="ball-scale-mulitple"><p style="font-size : 20px; color: white">Chargement....</p></ngx-spinner>
<div *ngIf="user$ | async as user">
  <button mat-flat-button color="primary" (click)="editArticleDialog()" *ngIf = user.roles?.admin >
    Ajouter un article
  </button>
</div>

<div class="grid">
  <app-article *ngFor="let article of articlesData | slice:0:6; " [article]=article></app-article>
  <div *ngIf="articlesData?.length == 0" style="text-align: center; font-size: 20px; padding: 5%;">Aucun article pour le moment !</div>
</div>

